// Variables-color

$primary-color: #82b440;
$secondary-color: #6f9a37;
$featured-color: #198754;
$background-color: #262626;
$gray-color:gray;
$background-color-rgb: rgba(11, 33, 50, 0.4);
$background-color-rgb-btn: rgba(255, 255, 255, 0.1);
$background-color-rgb-line: rgba(0, 0, 0, 0.267);
$text-color: white;
$footer-color: #161e2d;
$card-f7: #f7f7f7;
$main-header-background-color: #ffffff;
$f3: #f3f3f3;
$rgb11: rgba(11, 33, 50, 0.4);
$rgb01: rgba(0, 0, 0, 0.1);
$star: #f4d118;
$right-rgb: rgb(221, 220, 220);
$a4c: #4a5568;
$main-header-background-red: red;
$b9-red: #b9181e;
$bd-red: #bd090f;
$red-53: #e53e3e;
$price: #2d3748;
$footer-161: #161e2d;
$hover-color:#ed2027;
$text-color-black:black;
$card-background-color: #fff;
$color333: #333;
$secondary-text-color: #666;
$accent-color: #e53935;
$box-shadow-color: rgba(0, 0, 0, 0.1);
$border-color: #eee;
$font-stack: "Josefin Sans", sans-serif;


// Variables-size

$size-rem: 1rem;

